@import "tailwindcss";

@theme {
  /* Brand */
  --color-brand-50: #E9F1FF;
  --color-brand-100: #C9E0FF;
  --color-brand-200: #95C5FF;
  --color-brand-300: #55AEFF;
  --color-brand-400: #009FF8;
  --color-brand-500: #0088D4;
  --color-brand-600: #0070AE;
  --color-brand-700: #025285;
  --color-brand-800: #003A5E;
  --color-brand-900: #001E36;
  --color-brand-950: #001122;

  /* Slate */
  --color-slate-50: #F8FAFC;
  --color-slate-100: #F1F5F9;
  --color-slate-200: #E2E8F0;
  --color-slate-300: #CBD5E1;
  --color-slate-400: #94A3B8;
  --color-slate-500: #64748B;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1E293B;
  --color-slate-900: #0F172A;
  --color-slate-950: #020617;

  /* Red */
  --color-red-50: #FEF2F2;
  --color-red-100: #FEE2E2;
  --color-red-200: #FECACA;
  --color-red-300: #FCA5A5;
  --color-red-400: #F87171;
  --color-red-500: #EF4444;
  --color-red-600: #DC2626;
  --color-red-700: #B91C1C;
  --color-red-800: #991B1B;
  --color-red-900: #7F1D1D;
  --color-red-950: #450A0A;

  /* Black & White */
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-transparent: transparent;


  /* Alpha (Light) */
--color-alpha-light-00: #FFFFFF;
--color-alpha-light-50: #1A1A1A0F;
--color-alpha-light-100: #1A1A1A17;
--color-alpha-light-200: #1A1A1A33;
--color-alpha-light-300: #1A1A1A47;
--color-alpha-light-400: #1A1A1A5C;
--color-alpha-light-500: #1A1A1A7A;
--color-alpha-light-600: #1A1A1A99;
--color-alpha-light-700: #1A1A1AB3;
--color-alpha-light-800: #1A1A1ABF;
--color-alpha-light-900: #1A1A1ACC;
--color-alpha-light-1000: #1A1A1A;

/* Alpha (Dark) */
--color-alpha-dark-00: #141414;
--color-alpha-dark-50: #FFFFFF0F;
--color-alpha-dark-100: #FFFFFF17;
--color-alpha-dark-200: #FFFFFF33;
--color-alpha-dark-300: #FFFFFF47;
--color-alpha-dark-400: #FFFFFF5C;
--color-alpha-dark-500: #FFFFFF7A;
--color-alpha-dark-600: #FFFFFF99;
--color-alpha-dark-700: #FFFFFFB3;
--color-alpha-dark-800: #FFFFFFBF;
--color-alpha-dark-900: #FFFFFFCC;
--color-alpha-dark-1000: #FFFFFF;

  /* Blue (secondary set) */
  --color-blue-50: #EFF6FF;
  --color-blue-100: #DBEAFE;
  --color-blue-200: #BFDBFE;
  --color-blue-300: #93C5FD;
  --color-blue-400: #60A5FA;
  --color-blue-500: #3B82F6;
  --color-blue-600: #2563EB;
  --color-blue-700: #1D4ED8;
  --color-blue-800: #1E40AF;
  --color-blue-900: #1E3A8A;
  --color-blue-950: #172554;

  /* * Fonts */

  --font-geist-sans: var(--font-geist-sans-variable);
  --font-geist-pixel-square: var(--font-geist-pixel-square-variable);
  --font-geist-pixel-grid: var(--font-geist-pixel-grid-variable);
  --font-geist-pixel-circle: var(--font-geist-pixel-circle-variable);
  --font-geist-pixel-triangle: var(--font-geist-pixel-triangle-variable);
  --font-geist-pixel-line: var(--font-geist-pixel-line-variable);

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* * Breakpoints */

  --breakpoint-sm: 24.375rem;
  --breakpoint-2xl: 120rem;
  --breakpoint-3xl: 160rem;


    --font-inter: var(--font-inter);
    --font-weight-inter-400: 400;
    --font-weight-inter-500: 500;
    --font-weight-inter-600: 600;
    --font-weight-inter-700: 700;
    --font-weight-inter-800: 800;
}
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  font-family: var(--font-geist-sans);
  font-weight: 400;
  color: #000;  will-change: transform;

}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* * For Internet Explorer 10+ */
  scrollbar-width: none; /* * For Firefox */
}
